**/__pycache__
.idea/
**/.DS_STORE
**/log
**/log_group
**/build
**/dist
**/*.egg-info
**/*.txt
!requirements.txt
**/.vscode
**/_log

/slurm_outputs
/ray_results
/wandb
orlkit_log
video
oasis_log
oasis_log_ln
ipynb_files/result_plots
/NeoRL
ipynb_files/script.ipynb